@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
	/* 思源黑體 */
@import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
	/* 仿宋體 */
@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css); /* 黑體 */
@import url(//fonts.googleapis.com/earlyaccess/cwtexming.css); /* 明體 */
@import url(//fonts.googleapis.com/earlyaccess/cwtexyen.css); /* 圓體 */
@import url(//fonts.googleapis.com/earlyaccess/cwtexkai.css); /* 楷體 */
html, body {
	font-family: 'Noto Sans TC', 'Microsoft JhengHei', 'cwTeXHei',
		'cwTeXMing', 'cwTeXYen', 'cwTeXFangSong', 'cwTeXKai', sans-serif;
	margin: 0;
}

img {
	width: 100%;
}

.table>tbody>tr>td {
	vertical-align: middle !important;
}

form .table td {
	border: none !important;
}

form .table input:focus {
	box-shadow: 0 0 !important;
}

form .table .form-control {
	border-radius: 0px !important;
}

.table .form-error {
	border-color: red !important;
}

.btn-success, .btn-danger {
	border-radius: 0px !important;
}

.error {
	color: red;
}