/* header */
.navbar-header .logo {
	width: 30px;
	margin-top: 10px;
	margin-right: 5px;
	float: left;
}

.navbar-header .logo img {
	width: 100%;
}

.navbar-header .navbar-brand {
	color: white !important;
}

.navbar-collapse .navbar-nav>li>a {
	color: #dddddd !important;
}

.navbar-collapse .navbar-nav>li>a:hover {
	color: white !important;
}

/* option */
.option {
	width: 100%;
	margin-bottom: 5px;
}

.add-button {
	width: 30px;
	float: right;
}

/* table */
.table-hover {
	border-bottom: 1px solid #ddd;
}

.table>tbody>tr>td {
	vertical-align: middle !important;
}

.edit-button {
	width: 30px;
}

.btn-success, .btn-danger, .btn-warning {
	border-radius: 0px !important;
}

/* pagination */
.page {
	text-align: center;
}

.page .pagination {
	margin: 0 !important;
}

.pagination>li:first-child>a, .pagination>li:last-child>a {
	border-radius: 0px !important;
}

/* form */
form .table td {
	border: none !important;
}

form .table .form-control {
	border-radius: 0px !important;
	box-shadow: 0 0 !important;
}

form .table .form-error {
	border-color: red !important;
}

.error {
	color: red;
	font-weight: 500 !important;
}

/* admin */
.ad-status-switch {
	width: 30px;
	cursor: pointer;
}

.admin-form-table tr td:first-child {
	width: 75px;
	padding-left: 0;
}

.admin-form-table tr td:nth-child(2) {
	width: 400px;
	padding-left: 0;
	padding-right: 0;
}

/* area */
.option .form-control {
	border-radius: 0px !important;
}

.area-add-button {
	width: 30px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.area-list-table {
	width: 500px;
}

.area-list-table thead tr td:nth-child(1), .area-list-table thead tr td:nth-child(3),
	.area-list-table thead tr td:nth-child(4), .area-list-table thead tr td:nth-child(5)
	{
	width: 50px;
}

.co-status-switch {
	width: 30px;
	cursor: pointer;
}

.st-status-switch {
	width: 30px;
	cursor: pointer;
}

.ci-status-switch {
	width: 30px;
	cursor: pointer;
}

.area-form-table tr td:first-child {
	width: 62.5px;
	padding-left: 0;
}

.area-form-table tr td:nth-child(2) {
	width: 400px;
	padding-left: 0;
	padding-right: 0;
}

/* base */
.base-list-table {
	font-size: 13px;
}

.base-list-table thead tr td:nth-child(1), .base-list-table thead tr td:nth-child(7),
	.base-list-table thead tr td:nth-child(8) {
	width: 50px;
}

.base-list-table thead tr td:nth-child(4) {
	width: 100px;
}

.ba-status-switch {
	width: 30px;
	cursor: pointer;
}

.base-form-table tr td:first-child {
	width: 75px;
	padding-left: 0;
}

.base-form-table tr td:nth-child(2) {
	width: 400px;
	padding-left: 0;
	padding-right: 0;
}

#ba_tel {
	width: 75%;
	float: left;
}

#ba_tel_code {
	width: 25%;
	float: left;
}

/* image */
.image-list-table tbody tr:nth-child(1) td:nth-child(1),
	.image-list-table tbody tr:nth-child(1) td:nth-child(3),
	.image-list-table tbody tr:nth-child(1) td:nth-child(5),
	.image-list-table tbody tr:nth-child(1) td:nth-child(6) {
	width: 50px;
}

.image-list-table tbody tr:nth-child(1) td:nth-child(2) {
	width: 45%;
	text-align: center;
}

.image-list-table tbody tr:nth-child(1) td:nth-child(2) img {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 182px;
	cursor: pointer;
}

.image-list-table tbody tr:nth-child(1) td:nth-child(3),
	.image-list-table tbody tr:nth-child(2) td:nth-child(1),
	.image-list-table tbody tr:nth-child(3) td:nth-child(1),
	.image-list-table tbody tr:nth-child(4) td:nth-child(1) {
	height: 50px;
}

.im-status-switch {
	width: 30px;
	cursor: pointer;
}

.image-zoom {
	width: 100%;
	height: 100%;
	background: rgba(62, 62, 64, 0.8);
	position: fixed;
	top: 0;
	z-index: 10000;
	text-align: center; /* 水平置中 */ /* 作用於此元素內的 inline 子元素 */
}

.image-zoom::before {
	content: '';
	width: 0;
	height: 100%;
	display: inline-block; /* 水平置中 */ /* 浮動 */
	position: relative; /* 垂直置中 */
	vertical-align: middle; /* 垂直置中 */
}

.image-zoom div {
	width: 75%;
	height: 75%;
	display: inline-block; /* 水平置中 */ /* 浮動 */
	vertical-align: middle; /* 垂直置中 */
	text-align: center; /* 水平置中 */ /* 作用於此元素內的子元素 */
}

.image-zoom img {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	filter: alpha(opacity = 100);
	position: relative; /* 垂直置中 */
	top: 50%; /* 垂直置中 */
	transform: translateY(-50%); /* 垂直置中 */
}

.image-upload {
	padding: 4px;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 10px;
	display: inline-block;
	overflow: auto;
}

.image-upload label {
	margin: 0;
	float: left;
}

.image-preview {
	width: 640px;
	height: 360px;
	text-align: center; /* 水平置中 */ /* 作用於此元素內的 inline 子元素 */
	cursor: pointer;
}

.image-preview img {
	width: auto;
	max-width: 640px;
	height: auto;
	max-height: 360px;
	display: inline-block; /* 水平置中 */ /* 浮動 */
	position: relative; /* 垂直置中 */
	top: 50%; /* 垂直置中 */
	transform: translateY(-50%); /* 垂直置中 */
}

.image-form-table tr td:first-child {
	width: 50px;
	padding-left: 0;
}

.image-form-table tr td:nth-child(2) {
	width: 600px;
	padding-left: 0;
	padding-right: 0;
}

/* video */
.video-list-table thead tr td:nth-child(1), .video-list-table thead tr td:nth-child(4),
	.video-list-table thead tr td:nth-child(5), .video-list-table thead tr td:nth-child(6)
	{
	width: 50px;
}

.video-list-table thead tr td:nth-child(3) {
	width: 560px;
}

.vi-status-switch {
	width: 30px;
}

.vi-status-switch img[data-vi-status='0'] {
	cursor: pointer;
}

.video-form-table tr td:first-child {
	width: 50px;
	padding-left: 0;
}

.video-form-table tr td:nth-child(2) {
	width: 500px;
	padding-left: 0;
	padding-right: 0;
}

/* html */
.html-list-table thead tr td:nth-child(1), .html-list-table thead tr td:nth-child(3),
	.html-list-table thead tr td:nth-child(4), .html-list-table thead tr td:nth-child(5)
	{
	width: 50px;
}

.ht-status-switch {
	width: 30px;
}

.ht-status-switch img[data-ht-status='0'] {
	cursor: pointer;
}

.html-form-table tr td:first-child {
	width: 50px;
	padding-left: 0;
}

.html-form-table tr td:nth-child(2) {
	width: 750px;
	padding-left: 0;
	padding-right: 0;
}