/* header */
nav .logo {
	width: 30px;
	margin-top: 10px;
	margin-right: 5px;
	float: left;
}

nav .logo img {
	width: 100%;
}

.navbar-inverse .navbar-brand {
	color: white !important;
}

.navbar-inverse .navbar-nav>li>a {
	color: #dddddd !important;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: white !important;
}

/* option */
.option {
	width: 100%;
	margin-bottom: 5px;
}

.option .form-control {
	border-radius: 0px !important;
}

.add-button {
	width: 30px;
	float: right;
}

.edit-button {
	width: 30px;
}

/* table */
.table-hover {
	border-bottom: 1px solid #ddd;
}

/* pagination */
.page {
	text-align: center;
}

.page .pagination {
	margin: 0 !important;
}

/* admin */
.admin-table tr td:first-child {
	width: 75px;
	padding-left: 0;
}

.admin-table tr td:nth-child(2) {
	width: 400px;
	padding-left: 0;
	padding-right: 0;
}

.ad-status-switch {
	width: 30px;
	cursor: pointer;
}

/* area */
.area-table tr td:first-child {
	width: 62.5px;
	padding-left: 0;
}

.area-table tr td:nth-child(2) {
	width: 400px;
	padding-left: 0;
	padding-right: 0;
}

.area-add-button {
	width: 30px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.co-status-switch {
	width: 30px;
	cursor: pointer;
}

.st-status-switch {
	width: 30px;
	cursor: pointer;
}

.ci-status-switch {
	width: 30px;
	cursor: pointer;
}

/* base */
.base-table tr td:first-child {
	width: 75px;
	padding-left: 0;
}

.base-table tr td:nth-child(2) {
	width: 400px;
	padding-left: 0;
	padding-right: 0;
}

#ba_tel {
	width: 75%;
	float: left;
}

#ba_tel_code {
	width: 25%;
	float: left;
}

.ba-status-switch {
	width: 30px;
	cursor: pointer;
}

/* image */
.image-upload {
	padding: 4px;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 10px;
	display: inline-block;
	overflow: auto;
}

.image-upload label {
	margin: 0;
	float: left;
}

.image-preview {
	width: 640px;
	height: 360px;
	text-align: center; /* 水平置中 */ /* 作用於此元素內的 inline 子元素 */
	cursor: pointer;
}

.image-preview img {
	width: auto;
	max-width: 640px;
	height: auto;
	max-height: 360px;
	display: inline-block; /* 水平置中 */ /* 浮動 */
	position: relative; /* 垂直置中 */
	top: 50%; /* 垂直置中 */
	transform: translateY(-50%); /* 垂直置中 */
}

#image-reset {
	float: right;
	cursor: pointer;
}

.image-table tr td:first-child {
	width: 50px;
	padding-left: 0;
}

.image-table tr td:nth-child(2) {
	width: 600px;
	padding-left: 0;
	padding-right: 0;
}

.im-status-switch {
	width: 30px;
	cursor: pointer;
}

/* video */
.video-table tr td:first-child {
	width: 50px;
	padding-left: 0;
}

.video-table tr td:nth-child(2) {
	width: 500px;
	padding-left: 0;
	padding-right: 0;
}

.vi-status-switch {
	width: 30px;
}

.vi-status-switch img[data-vi-status='0'] {
	cursor: pointer;
}

/* html */
.html-table tr td:first-child {
	width: 50px;
	padding-left: 0;
}

.html-table tr td:nth-child(2) {
	width: 750px;
	padding-left: 0;
	padding-right: 0;
}

.ht-status-switch {
	width: 30px;
}

.ht-status-switch img[data-ht-status='0'] {
	cursor: pointer;
}