nav img {
	width: 100%;
}

nav .logo {
	width: 30px;
	margin-top: 10px;
	margin-right: 5px;
	float: left;
}

.navbar-inverse .navbar-brand {
	color: white !important;
}

.navbar-inverse .navbar-nav>li>a {
	color: #dddddd !important;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: white !important;
}