.option {
	width: 100%;
	margin-bottom: 5px;
}

.option .form-control {
	border-radius: 0px !important;
}

.add-button {
	width: 30px;
	float: right;
}

.edit-button {
	width: 30px;
}

/* admin */
.admin-table tr td:first-child {
	width: 75px;
}

.admin-table tr td:nth-child(2) {
	width: 400px;
}

.ad-status-switch {
	width: 30px;
	cursor: pointer;
}

/* area */
.area-table tr td:first-child {
	width: 75px;
}

.area-table tr td:nth-child(2) {
	width: 400px;
}

.area-add-button {
	width: 30px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.co-status-switch {
	width: 30px;
	cursor: pointer;
}

.st-status-switch {
	width: 30px;
	cursor: pointer;
}

.ci-status-switch {
	width: 30px;
	cursor: pointer;
}

/* base */
.base-table tr td:first-child {
	width: 100px;
}

.base-table tr td:nth-child(2) {
	width: 400px;
}

#ba_tel {
	width: 75%;
	float: left;
}

#ba_tel_code {
	width: 25%;
	float: left;
}

.ba-status-switch {
	width: 30px;
	cursor: pointer;
}

/* image */
.image-upload {
	padding: 4px;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 10px;
	display: inline-block;
	overflow: auto;
}

.image-upload label {
	margin: 0;
	float: left;
}

.image-preview {
	width: 640px;
	height: 360px;
	text-align: center; /* 水平置中 */ /* 作用於此元素下的 inline 子元素 */
	cursor: pointer;
}

.image-preview::before { /* 偽元素垂直置中 */
	content: '';
	width: 0;
	height: 100%;
	display: inline-block; /* 浮動 */
	vertical-align: middle; /* 垂直置中 */
	position: relative;
}

.image-preview img {
	width: auto;
	max-width: 640px;
	height: auto;
	max-height: 360px;
	display: inline-block; /* 浮動 */
	vertical-align: middle; /* 垂直置中 */
}

#image-reset {
	float: right;
	cursor: pointer;
}

.image-table tr td:first-child {
	width: 50px;
	padding-left: 0;
}

.image-table tr td:nth-child(2) {
	width: 600px;
	padding-right: 0;
}

.im-status-switch {
	width: 30px;
	cursor: pointer;
}

/* video */
.video-table tr td:first-child {
	width: 75px;
}

.video-table tr td:nth-child(2) {
	width: 500px;
}

.vi-status-switch {
	width: 30px;
}

.vi-status-switch img[data-vi-status='0'] {
	cursor: pointer;
}

/* html */
.html-table tr td:first-child {
	width: 75px;
}

.html-table tr td:nth-child(2) {
	width: 750px;
}

.ht-status-switch {
	width: 30px;
}

.ht-status-switch img[data-ht-status='0'] {
	cursor: pointer;
}