.option {
	width: 500px;
	margin-bottom: 5px;
	overflow: auto;
}

.add-button {
	width: 30px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.edit-button {
	width: 30px;
}

.co-status-switch {
	width: 30px;
	cursor: pointer;
}

.st-status-switch {
	width: 30px;
	cursor: pointer;
}

.ci-status-switch {
	width: 30px;
	cursor: pointer;
}