#id-div-footer-top {
	width: 100%;
	height: 100px;
	background-color: #AA0000;
}

#id-div-footer-middle {
	width: 100%;
	height: 160px;
	background-color: #AA0000;
}

#id-div-footer-middle-content {
	width: 75%;
	height: 100%;
	margin: 0 auto;
}

#id-div-footer-middle-content-menu {
	margin-right: 100px;
	float: left;
}

#id-div-footer-middle-content-sns {
	float: left;
}

#id-div-footer-middle-content-info {
	float: right;
}

#id-div-footer-bottom {
	width: 100%;
	height: 40px;
	background-color: #AA0000;
}

#id-div-footer-bottom-content {
	width: 75%;
	height: 39px;
	border-top: gray 1px solid;
	margin: 0 auto;
}

#id-div-footer-bottom-content-copyright {
	line-height: 40px;
	display: inline;
}

.div-info {
	height: 42.5px;
}

.div-icon {
	width: 35px;
	margin-right: 7.5px;
	float: left;
}

.img-icon {
	max-width: 100%;
	max-height: 100%;
}

.div-text {
	float: left;
}

.div-footer-title {
	padding-bottom: 10px;
}

.p-title {
	font-size: 16px;
	color: white;
	margin: 0;
}

.p-sub {
	font-size: 14px;
	margin: 0px 0px 5px 0px;
}

.a-title:link {
	color: white;
	text-decoration: none;
}

.a-title:visited {
	color: white;
}

.a-title:hover {
	color: white;
	text-decoration: none;
}

.a-title:active {
	color: white;
}

.a-sub:link {
	color: white;
	text-decoration: none;
}

.a-sub:visited {
	color: white;
}

.a-sub:hover {
	color: white;
	text-decoration: none;
}

.a-sub:active {
	color: white;
}

.p-text {
	font-size: 12px;
	color: white;
	margin: 0;
}

.p-copyright {
	font-size: 12px;
	color: white;
	display: inline;
}