footer {
	width: 100%;
	background-color: #AA0000;
}

#id-div-footer-top {
	width: 100%;
	height: 70px;
}

#id-div-footer-top-content {
	width: 75%;
	height: 100%;
	line-height: 70px;
	margin: 0 auto;
}

#id-div-footer-top-content-logo {
	height: 32px;
	margin-right: 5px;
	position: relative; /* 垂直置中 */
	top: calc(50% - 16px); /* 垂直置中 */
	float: left;
}

#id-div-footer-middle {
	width: 100%;
	min-height: 100%;
}

#id-div-footer-middle-content {
	width: 75%;
	padding: 20px 0px 20px 0px;
	border-top: gray 1px solid;
	border-bottom: gray 1px solid;
	margin: 0 auto;
	overflow: hidden; /* 符合子元素高度 */
}

#id-div-footer-middle-content-info {
	float: right;
}

#id-div-footer-bottom {
	width: 100%;
	height: 40px;
}

#id-div-footer-bottom-content {
	width: 75%;
	height: 100%;
	margin: 0 auto;
}

#id-div-footer-bottom-content-copyright {
	line-height: 40px;
	display: inline;
}

.div-footer-content-middle-left {
	width: 125px;
	float: left;
}

.div-catalog {
	padding-bottom: 15px;
}

/*
.div-info::before {
	content: "";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
*/

.div-icon {
	width: 24px;
	margin-right: 5px;
	float: left;
}

.img-icon {
	max-width: 100%;
	max-height: 100%;
}

.ul-sub {
	height: 100%;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.li-sub {
	margin-bottom: 2px;
}

.li-sub-info {
	overflow: hidden;
	/* 	text-align: center; */
}

.a-catalog:link {
	color: white;
	text-decoration: none;
}

.a-catalog:visited {
	color: white;
}

.a-catalog:hover {
	color: white;
	text-decoration: none;
}

.a-catalog:active {
	color: white;
}

.a-sub:link { /* 設定還沒瀏覽過的連結樣式 */
	color: #CCCCCC;
	text-decoration: none;
}

.a-sub:visited { /* 設定已經瀏覽過的連結樣式 */
	color: #CCCCCC;
}

.a-sub:hover { /* 設定滑鼠移到連結上的樣式 */
	color: white;
	text-decoration: none;
}

.a-sub:active { /* 設定正在被點選的連結樣式 */
	color: white;
}

.a-sub-info-text {
	line-height: 24px;
	float: left;
	/* 	display: inline-block; */
	/* 	vertical-align: middle; */
}

.span-breadcrumb {
	font-size: 16px;
}

.span-catalog {
	font-size: 16px;
	color: white;
	margin: 0;
}

.span-sub {
	font-size: 14px;
	margin: 0;
}

.span-text {
	font-size: 13px;
	margin: 0;
}

.span-copyright {
	font-size: 12px;
	color: #CCCCCC;
	display: inline;
}