footer {
	width: 100%;
	background-color: #AA0000;
}

#id-div-footer-top {
	width: 100%;
	height: 60px;
}

#id-div-footer-top-content {
	width: 75%;
	height: 100%;
	line-height: 60px;
	margin: 0 auto;
}

#id-div-footer-top-content-logo {
	height: 32px;
	margin-top: 14px;
	margin-right: 5px;
	float: left;
}

#id-div-footer-middle {
	width: 100%;
	min-height: 100%;
}

#id-div-footer-middle-content {
	width: 75%;
	padding: 10px 0px 10px 0px;
	border-top: gray 1px solid;
	border-bottom: gray 1px solid;
	margin: 0 auto;
	overflow: hidden; /* 符合子元素高度 */
}

#id-div-footer-middle-content-info {
	float: right;
}

#id-div-footer-bottom {
	width: 100%;
	height: 40px;
}

#id-div-footer-bottom-content {
	width: 75%;
	height: 100%;
	margin: 0 auto;
}

#id-div-footer-bottom-content-copyright {
	line-height: 40px;
	display: inline;
}

.span-breadcrumb {
	font-size: 16px;
	color: white;
}

.div-footer-content-middle-left {
	width: 125px;
	float: left;
}

.div-info {
	height: 43px;
/* 	text-align: center; */
	
}
/*
.div-info::before {
	content: "";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
*/
.div-icon {
	width: 35px;
	margin-right: 7.5px;
	position: relative; /* 垂直置中 */
	top: calc(50% - 17.5px); /* 垂直置中 */
	float: left;
}

.img-icon {
	max-width: 100%;
	max-height: 100%;
}

.div-text {
	float: left;
/* 	display: inline-block; */
/* 	vertical-align: middle; */
	line-height: 43px;
}

.div-footer-title {
	padding-bottom: 15px;
}

.p-title {
	font-size: 16px;
	color: white;
	margin: 0;
}

.ul-sub {
	height: 100%;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.li-sub {
	margin-bottom: 2px;
}

.a-title:link {
	color: white;
	text-decoration: none;
}

.a-title:visited {
	color: white;
}

.a-title:hover {
	color: white;
	text-decoration: none;
}

.a-title:active {
	color: white;
}

.a-sub:link {
	color: white;
	text-decoration: none;
}

.a-sub:visited {
	color: white;
}

.a-sub:hover {
	color: white;
	text-decoration: none;
}

.a-sub:active {
	color: white;
}

.span-sub {
	font-size: 14px;
	color: white;
	margin: 0;
}

.p-text {
	font-size: 13px;
	color: white;
	margin: 0;
}

.p-copyright {
	font-size: 12px;
	color: white;
	display: inline;
}