#header {
	width: 75%;
	height: 110px;
	margin: 0 auto;
}

#id-div-logo {
	height: 75px;
	margin: 20px 0px 15px 0px;
	float: left;
}

#id-div-title {
	height: 25px;
	margin: 27.5px 0px 27.5px 7px;
	float: left;
}

.img-icon {
	max-width: 100%;
	max-height: 100%;
}