header {
	width: 100%;
	height: 90px;
	border-top: #AA0000 3px solid;
	background-color: white;
}

#id-div-header {
	width: 75%;
	height: 100%;
	margin: 0 auto;
}

#id-div-logo {
	height: 60px;
	position: relative; /* 垂直置中 */
	top: calc(50% - 30px); /* 垂直置中 */
	float: left;
}

#id-div-title {
	margin-left: 5px;
	position: relative; /* 垂直置中 */
	top: calc(50% - 20px); /* 垂直置中 */
	float: left;
}

.img-icon {
	max-width: 100%;
	max-height: 100%;
}

.span-title {
	font-size: 26px;
	font-weight: 400; /* 粗細 */
	color: black;
}

.a-title:active {
	color: black;
}

.a-title:link {
	color: black;
	text-decoration: none;
}

.a-title:visited {
	color: black;
}

.a-title:hover {
	color: black;
	text-decoration: none;
}