#main {
	background-color: #EEEEEE;
}

#section-0 {
	width: 75%;
	height: 40px;
}

#section-1 {
	width: 75%;
	padding-bottom: 20px;
	margin: 0 auto;
	background-color: white;
}

#section-2 {
	width: 75%;
	margin: 0 auto;
	background-color: white;
}

#section-3 {
	width: 100%;
	height: 500px;
	margin: 0 auto;
	background-color: white;
}

#id-map {
	width: 100%;
	height: 100%;
}

.slider {
	width: 100%;
	margin: 0 auto;
}

.img-slider {
	width: 100%;
}

.video {
	width: 95%;
	height: 95%;
	padding-top: 35px;
	padding-bottom: 35px;
	border-top: #CCCCCC 1px solid;
	margin: 0 auto;
}