#main {
	background-color: #DDDDDD;
}

#section-1 {
	width: 80%;
	height: 200px;
	background-color: gray;
	margin: 0 auto;
}

#section-2 {
	width: 75%;
	height: 200px;
	background-color: white;
	margin: 0 auto;
}

#section-3 {
	width: 100%;
	height: 500px;
	background-color: white;
	margin: 0 auto;
}

#id-map {
	width: 100%;
	height: 100%;
}