nav {
	width: 100%;
	height: 40px;
	background-color: #AA0000;
}

#id-div-menu {
	width: 75%;
	height: 100%;
	line-height: 40px;
	margin: 0 auto;
	text-align: center;
}

.ul-menu {
	height: 100%;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.li-menu {
	display: inline;
}

.li-menu-left {
	margin-right: 50px;
	float: left;
}

.li-menu-right {
	margin-left: 50px;
	float: right;
}

.a-menu:link {
	color: white;
	text-decoration: none;
}

.a-menu:visited {
	color: white;
}

.a-menu:hover {
	color: white;
	text-decoration: none;
}

.a-menu:active {
	color: white;
}

.span-menu {
	font-size: 16px;
	color: white;
}

.span-menu-mouseover {
	color: #CCCCCC;
}