nav {
	width: 100%;
	height: 40px;
	background-color: #AA0000;
	border-top: #AA0000 4px solid;
}

#id-div-menu {
	width: 75%;
	height: 100%;
	line-height: 40px;
	margin: 0 auto;
}

.ul-menu {
	height: 100%;
	padding: 0;
	margin: 0;
	list-style-type: none; /* 去項目符號 */
}

.li-menu {
	display: inline;
}

.li-menu-mouseover {
	background-color: white;
}

.li-menu-active {
	background-color: white;
}

.li-menu-left {
	float: left;
}

.li-menu-right {
	float: right;
}

.a-menu-left {
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	display: block; /* 填滿符合父元素 */
}

.a-menu-left:link {
	text-decoration: none;
}

.a-menu-left:visited {
}

.a-menu-left:hover {
	color: #AA0000;
	text-decoration: none;
}

.a-menu-left:active {
}

.a-menu-right {
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	display: block; /* 填滿符合父元素 */
}

.a-menu-right:link {
	color: white;
	text-decoration: none;
}

.a-menu-right:visited {
	color: white;
}

.a-menu-right:hover {
	color: white;
	text-decoration: underline;
}

.a-menu-right:active {
	color: white;
}

.span-menu {
	font-size: 16px;
}