#main {
	background-color: #EEEEEE;
}

#section-0 {
	width: 75%;
	height: 40px;
}

#section-1 {
	width: 75%;
	background-color: white;
	margin: 0 auto;
}

#id-div-section-1-content {
	width: 100%;
	height: 100%;
}

.img-territory {
	width: 100%;
	height: 100%;
}