table {
	width: 100%;
	font-size: 13px;
}

.option {
	width: 100%;
	margin-bottom: 5px;
}

.add-button {
	width: 30px;
	float: right;
}

.edit-button {
	width: 30px;
}

.ba-status-switch {
	width: 30px;
	cursor: pointer;
}