main {
	height: 300px;
	background-color: #fafafa;
}

#section-0 {
	width: 80%;
	height: 40px;
}

#section-1 {
	width: 80%;
	height: 100%;
	background-color: white;
	margin: 0 auto;
}

#id-div-section-1-content {
	width: 100%;
	height: 100%;
}

.p-content {
	margin: 0;
}