img {
	width: 100%;
}

tr td:first-child {
	width: 75px;
}

tr td:nth-child(2) {
	width: 675px;
}

.table td {
	border: none !important;
}

.image-upload {
	margin-bottom: 10px;
	overflow: auto;
}

.image-upload label {
	float: left;
}

.image-preview {
	width: 750px;
	cursor: pointer;
}

#image-reset {
	width: 30px;
	float: left;
	cursor: pointer;
}