.image-upload {
	margin-bottom: 10px;
	display: inline-block;
	overflow: auto;
}

.image-upload label {
	float: left;
}

.image-preview {
	cursor: pointer;
}

#image-reset {
	float: right;
	cursor: pointer;
}

tr td:first-child {
	width: 75px;
}

tr td:nth-child(2) {
	width: 450px;
}