img {
	width: 100%;
}

.option {
	width: 500px;
	margin-bottom: 5px;
}

.add-button {
	width: 30px;
	float: right;
}

.edit-button {
	width: 30px;
}

.delete-button {
	width: 30px;
}

.ci-status-switch {
	width: 30px;
	cursor: pointer;
}