@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css); /* 思源黑體 */
@import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css); /* 仿宋體 */
@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css); /* 黑體 */
@import url(//fonts.googleapis.com/earlyaccess/cwtexming.css); /* 明體 */
@import url(//fonts.googleapis.com/earlyaccess/cwtexyen.css); /* 圓體 */
@import url(//fonts.googleapis.com/earlyaccess/cwtexkai.css); /* 楷體 */

html, body {
	font-family: 'Noto Sans TC', 'Microsoft JhengHei', 'cwTeXHei', 'cwTeXMing', 'cwTeXYen', 'cwTeXFangSong', 'cwTeXKai', sans-serif;
	margin: 0;
}

/* 使 padding 和 border 不會增加元素本身的大小 */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}