.customize-container-fluid {
	background-color: #fafafa;
	padding: 15px 0 0 0;
}

.customize-row {
	width: 80%;
	margin: 0 auto;
}

main {
	width: 100%;
	height: 100%;
	background-color: #fafafa;
	padding: 0 !important;
	overflow: auto; /* 撐開 */
}

section {
	width: 98%;
	height: 100%;
	background-color: white;
	padding: 1%;
	float: right;
	overflow: auto; /* 撐開 */
}

/* info/video-related */
.video-related {
	width: 48%;
	margin: 1%;
	float: left;
}

.video-related h5 {
	color: white;
	padding: 10px;
	margin: 0;
	background-color: #AA0000;
}