.sub-sidebar {
	background-color: white;
	padding: 0;
}

.sub-sidebar a {
	color: #AA0000;
}

.sub-sidebar a:hover {
	color: white;
	background-color: #AA0000 !important;
}

.active-sub-menu {
	background-color: #AA0000;
}

.active-sub-menu span {
	color: white;
}