html, body {
	background-color: #fafafa;
}

img {
	width: 100%;
}

h3 {
	margin: 0;
	display: inline-block;
}

.top {
	width: 300px;
}

.logo {
	width: 50px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 30px;
}

.title {
	margin-bottom: 30px;
	font-size: 24px;
	color: #000000;
	text-align: center;
}

.sub-title {
	margin-bottom: 20px;
	font-size: 18px;
	text-align: center;
}

.form {
	width: 300px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: #ddd 1px solid;
	border-radius: 4px 4px 4px 4px;
	background-color: white;
}