html, body {
	background-color: #fafafa;
}

.div-reset-password-form {
	width: 300px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: #ddd 1px solid;
	border-radius: 4px 4px 4px 4px;
	background-color: white;
}